fastapi[standard]
sqlalchemy
asyncpg
pydantic
pydantic-settings
alembic
psycopg2-binary
bcrypt
python-jose[cryptography]
python-multipart
uvicorn
pytest
pytest-asyncio
httpx
slowapi
fastapi-pagination
secure
python-json-logger
